<html>

<head>
 <title>Category Home</title>

</head>


<body>

<form id="form3" action="/logout/" method="GET">
<br><br>
<table>
 <tr>

<td>
<a href="http://127.0.0.1:8000/home/">Home</a>
</td>

<td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/get_user/">Profile</a>
 </td> </td></td></td></td></td></td></td>

<td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/course_home/">Course</a>
 </td> </td></td></td></td></td></td></td>

 <td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/category_home/">Category</a>
 </td> </td></td></td></td></td></td></td>

 <td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/quiz/">Quiz</a>
 </td> </td></td></td></td></td></td></td>

 <td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/announcement_home/">Announcement</a>
 </td> </td></td></td></td></td></td></td>

 <td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/discussion_home/">Discussion</a>
 </td> </td></td></td></td></td></td></td>

 <td> <td><td><td><td><td><td><td>
<select name="mooc">
<option value="moocname" selected>MOOC Name</option>
<option value="Ranger">Ranger</option>
<option value="Illuminati">Illuminati</option>
</select>
 </td> </td></td></td></td></td></td></td>

 <td><td><td><td><td><td><td>
 <input type="submit" value="Logout" />
 </td></td></td></td></td></td></td>
 </tr>
</table>
    <h1>Welcome {{ user }}</h1>
    <table>
    <tr>
      <a href="http://127.0.0.1:8000/list_category/">List Category</a>

 </tr>
    <br>
 <tr>
      <a href="http://127.0.0.1:8000/add_category/">Add Category</a>

 </tr>
    <br>

</table>

<br>



<h1></h1>
<p>

</p>
    </form>
</body>

<html>
