<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
</head>

<body>
<form id="form3" action="/logout/" method="GET">
<br><br>
<table>
 <tr>
<td>
<a href="http://127.0.0.1:8000/home/">Home</a>
</td>

<td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/get_user/">Profile</a>
 </td> </td></td></td></td></td></td></td>

<td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/course_home/">Course</a>
 </td> </td></td></td></td></td></td></td>

 <td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/category_home/">Category</a>
 </td> </td></td></td></td></td></td></td>

 <td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/quiz/">Quiz</a>
 </td> </td></td></td></td></td></td></td>

 <td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/announcement_home/">Announcement</a>
 </td> </td></td></td></td></td></td></td>

 <td> <td><td><td><td><td><td><td>
<a href="http://127.0.0.1:8000/discussion_home/">Discussion</a>
 </td> </td></td></td></td></td></td></td>

 <td><td><td><td><td><td><td>
 <input type="submit" value="Logout" />
 </td></td></td></td></td></td></td>

 </tr>
    </table>
   </form>

<h1>User Profile</h1>


<table align="center">
  <tr>
    <td> Email ID : </td>
    <td><input name="email" type="text" value={{username}} readonly="readonly" />
      <br /></td>
  </tr>
  <tr>
    <td> First Name : </td>
    <td><input name="fname" type="text" value={{fname}}  readonly="readonly" />
      <br />
  <tr>
    <td> Last Name : </td>
    <td><input name="lname" type="text" value={{lname}} readonly="readonly"/>
      <br /></td>
  </tr>

    <tr>
  <td align="center">
               <br><br><br><br><br><br>

    <td colspan="2"><form action="/update_user/" method="POST" name="update">
        <input name="update" type="submit" value="Update" />
      </form>
  </td>
  <td align="center">
    <td colspan="2"><form action="/delete_user/"  name="delete">
        <input name="delete" type="submit" value="Delete" />
      </form></td>
  </tr>
  </tr>   
</table>
</body>
</html>
